@import url(normalize.css);

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

/* COLORS */
/* Raisin black: #221c28 */
/* Jonquil: #F0C808 */
/* Light sea green: #00A8A8 */
/* Light gray: #CDCACC */
/* Gainsboro (lighter gray): DFE0E2  */

body {
    font-family: 'Gelasio', serif;
    background-color: #dfe0e2;
    color: #221C28;
}

main {
    margin: 0 5vw;
}

/* MAIN MENU  */
.page-header {
    background-color: #221C28;
    padding: 1vh 2vw;
    margin-bottom: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h1 a {
    font-size: xx-large;
    font-family: 'Gelasio', serif;
    color: #00A8A8;
}

.page-header ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1vw
}

.page-header li {
    list-style: none;
}

.page-header a {
    color: #f0c808;
    font-size: x-large;
    text-decoration: none;
}

.page-header a:hover {
    color: white;
}

@media screen and (max-width: 600px) {
    .page-header {
        flex-direction: column;
    }

    .page-header ul {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
}

/* CATALOGUE */
.books-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4vh 2vw;
}

.books-list article {
    background-color: white;
    -webkit-box-shadow: 8px 8px 24px -9px rgba(34, 28, 40, 1);
    -moz-box-shadow: 8px 8px 24px -9px rgba(34, 28, 40, 1);
    box-shadow: 8px 8px 24px -9px rgba(34, 28, 40, 1);
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
}

.books-list img {
    width: 15vw;
    height: auto;
    margin-right: 2vw;
}

.books-list span {
    display: block;
}

.books-list button {
    margin: 1vh 0.5vw 0 0;
    padding: 1.5vh 0.5vw;
    border: none;
    background-color: #cdcacc;
}

.books-list button:hover {
    background-color: #221C28;
    color: white;
    cursor: pointer;
}

.books-list .add-to-bag {
    background-color: #f0c808;
}

@media screen and (max-width: 760px) {
    .books-list {
        grid-template-columns: repeat(1, auto);
        /* gap: 4vh 2vw; */
    }
}

/* FOOTER  */
footer {
    -webkit-box-shadow: 8px 8px 24px -9px rgba(34, 28, 40, 1);
    -moz-box-shadow: 8px 8px 24px -9px rgba(34, 28, 40, 1);
    box-shadow: 8px 8px 24px -9px rgba(34, 28, 40, 1);
    background-color: #F0C808;
    text-align: center;
    margin-top: 10vh;
    padding: 5vh 0;
}

/* MODAL WINDOW  */
.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #221c2863;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper div {
    background-color: white;
    width: 40vw;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

.modal-wrapper div button {
    align-self: flex-end;
    border: none;
    background-color: #F0C808;
    cursor: pointer;
    padding: 0.6vh 0.6vw;
    font-size: small;
}

.modal-wrapper p {
    font-size: large;
    line-height: 1.5;
}

/* ASIDE */
aside {
    background-color: #CDCACC;
    margin: 0 5vw 4vh 5vw;
    padding: 1vh 1vw;
}

aside a {
    text-decoration: none;
    background-color: #F0C808;
    color: #221c28;
    width: fit-content;
    margin: 1vh 0.5vw 0 0;
    padding: 1.5vh 1vw;

}

aside ul {
    padding: 0;
    list-style: none;
    line-height: 2.3;
}

aside a:hover {
    background-color: #221C28;
    color: white;
}

#remove {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F0C808;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100px;

}