@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

body {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Gelasio', serif;
    background-color: #F7FBEF;
    color: #221C28;
    /* color: #B53C6E; */
}

main {
    padding: 0 3vw;
}

/* MAIN MENU  */
.page-header {
    background-color: #221C28;
    font-size: large;
    padding: 0 1.5vw;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h1 a {
    font-size: xx-large;
    font-family: 'Gelasio', serif;
}

.page-header ul {
    display: flex;
}

.page-header li {
    list-style: none;
}

.page-header a {
    font-size: x-large;
    padding-left: 1.5vw;
    text-decoration: none;
    color: #A1B4B2;

}

.page-header a:hover {
    color: #DBAA9B;
}

/* CATALOGUE */
#books-list article {
    background-color: #A1B4B2;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#books-list img {
    width: 10%;
}

#books-list div {
    padding-left: 40px;
}

#books-list span {
    display: block;
}

#books-list button {
    margin: 2vw 1vw 0 0;
    padding: 1vw 1.2vw;
    border: none;
    background-color: #DBAA9B;
}

#books-list button:hover {
    background-color: #221C28;
    color: white;
    cursor: pointer;
}